@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1a488e;


  /* #092147 */
}

.cardHome {
/* From https://css.glass */
background: rgba(107, 94, 207, 0.52);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
border: 1px solid rgba(107, 94, 207, 1);
}
